
        <footer>

          {% if with_series_listing %}
            <section class="clearfix">
              <h4>Series worth rescuing...</h4>
              {% include series_list.html %}
            </section>
          {% endif %}
          
          More about the Continuators:
          {% assign pages_list = site.pages %}
          {% assign group = 'page' %}
          <ul>
            {% for node in pages_list %}
              {% if node.title != null %}
                {% if group == node.layout %}
                  {% if page.url == node.url %}
                  <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                  {% else %}
                  <li><a href="{{node.url}}">{{node.title}}</a></li>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </footer>

        
      </div>
    </div>
  </body>
</html>