{% assign subtitle = "to be continued" %}
{% include header.html %}

<section id="main_content">


  <h3>Dear {{page.publisher}},</h3>

  <p>I recently learned you will <a href="{{ page.news_url }}">discontinue my beloved TV-Series "{{page.series_name}}"</a>. I think you are doing a big mistake. Me and many others love this series and would love to see another season happening. But we are done waiting for you to realised this and instead decided to continue fund the next season ourselves.</p>


  {{ content }}


  <p>By signing the following form I commit <strong>to spent {% if page.custom_price %} {{custom_price}} {% else %}29,90€{% endif %}</strong> in order to realise the next full season of {{page.series_name}}.</p>


  <form action="{{ page.form_url }}" method="POST" id="ss-form">

  <br>
  <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_0">Your full name</label>
  <input type="text" name="entry.0.single" value="" class="ss-q-short" id="entry_0"></div></div></div>
  <br> <div class="errorbox-good">
  <div class="ss-item ss-item-required ss-text"><div class="ss-form-entry"><label class="ss-q-title" for="entry_1">Your email</label>
  <input type="text" name="entry.1.single" value="" class="ss-q-short" id="entry_1"></div></div></div>
  <br>
  <input type="hidden" name="pageNumber" value="0">
  <input type="hidden" name="backupCache" value="">


  <input type="submit" name="submit" value="Submit">
  </form>

</section>

<section class="clearfix">
  <h4>Other series worth rescuing...</h4>
  {% include series_list.html %}
</section>

{% include footer.html %}
